# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*_env/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Visual Studio 2015/2017 cache/options directory
.vs/

# Python Tools for Visual Studio (PTVS)
*.pyc

# Visual Studio project files
*.pyproj
*.slnx

# Project-specific
dev/
runs/
*.pt
